:root {
  --branco-principal: #ffffff;
  --cinza-secundario: #c0c0c0;
  --botao-azul: #167bf7;
  --cor-de-fundo: #00030c;
  --fonte-principal: "Inter";
  --botao-azul-efeito: #00bbff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}

.principal {
  background-image: url(assets/Background.png);
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.container-caixa {
  margin: 0 12em;
}

.container-titulo {
  font-size: 28px;
  font-weight: 700;
}

.container-botao {
  text-decoration: none;
  color: var(--branco-principal);
  background-color: var(--botao-azul);
  border-radius: 8px;
  padding: 1em;
  display: block;
  margin-bottom: 1em;
}

.container-imagem {
  margin: 1em 0 2em 0;
}

.botao-secundario {
  background-color: transparent;
  border: 2px solid var(--branco-principal);
}

.container-aviso {
  color: var(--cinza-secundario);
  font-size: 12px;
}

.secundario {
  align-items: center;
  margin: 0 10em;
}

.secundario-imagem {
  width: 80%;
}

.container-descricao {
  width: 80%;
}

.container-descricao-titulo {
  font-weight: 700;
  font-size: 48px;
  color: var(--branco-principal);
  margin-bottom: 0.2em;
}

.container-descricao-texto {
  color: var(--cinza-secundario);
}

.secundario-botao {
  display: inline-block;
  margin-top: 1em;
}

.dispositivos {
  text-align: center;
}

.dispositivos-titulo {
  font-size: 48px;
  color: var(--branco-principal);
}

.dispositivos-lista {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 5em 0;
}

.lista-item {
  font-size: 32px;
  color: var(--branco-principal);
}

.rodape {
  text-align: center;
  margin: 15em 20em 1em;
}

.rodape-lista {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 2em 0 1em;
}

.rodape-lista-link a {
  color: var(--branco-principal);
  text-decoration: none;
  margin: 0 1em;
}

.rodape-texto{
    color: var(--cinza-secundario);
    font-size: 14px;
    margin: 1em 0;
}

.rodape-lista-link a:hover {
    color: var(--botao-azul);
}

.container-botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}